body {
  margin: 0;
}

.game-screen {
  display: flex;
  background-image: url("https://media.wired.com/photos/5a593a7ff11e325008172bc2/master/pass/pulsar-831502910.jpg");
  background-size: cover;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
.game-screen p {
  color: aliceblue;
}

.game-start {
  font-size: 30px;
  color: aliceblue;
}

.game-board {
  display: none;
}

#start-button {
  height: 30px;
}

.running-game {
  display: none;
  align-items: center;
  height: 720px;
  width: 720px

}

.game-over {
  display: none;
  font: white;
}

.game {
background-color: black;
border: 50px;
border-radius: 5%;
}

#canvas{
  margin-top: 10px;
  border-radius: 5%;
}
#game-score{
  display: flex;
  flex-direction: column;
  
  align-items: stretch;
}
